
<header class="container">
  <div id="switch-button" (click)="modoBlackLigth()">
    <mat-icon>light</mat-icon>
  </div>
  <a [href]="linkGit" target="_blank" title="ir para GitHub">
    <div class="avatar">
      <img [src]="imageAvatar">
    </div>
  </a>
  <h1>{{ login }}</h1>
  <div id="input-search" [formGroup]="inputSearch"> 
    <input type="text" formControlName="search" (keypress)="pesquisar($event)">
    <mat-icon id="btn_search" (click)="pesquisarBtn()">search</mat-icon>
  </div>
</header>
<main>
    <!-- <a class="avatar">
      <img [src]="">
    </a> -->
    <div class="container">
      <a [href]="projetos.html_url" *ngFor="let projetos of infoUsers" target="_blank">
        <div class="repositorio">
          <h2>{{ projetos.name }}</h2>
          <p> {{ projetos.description }}</p>
          <!-- <span><mat-icon>star</mat-icon>{{ projetos.stargazers_count }}</span> -->
        </div>
      </a>
    </div>
</main>